#login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
}
.loginFormColumn {
  background-color: lightgrey;
  margin: 10px;
  padding: 20px;
  width: 25%;
  border-radius: 1em;
  float: left;
  padding-bottom: 20px;
}
.footer {
  background-color: grey;
  border-top: 1px solid lightgray;
  height: 300px;
  position: relative;
  bottom: -450px;
}
#registerButton {
  width: 100%;
}
