#menu {
  background-image: linear-gradient(black, lightgrey);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1em;
  height: 70px;
  margin-bottom: 10px;
  border-top: solid #888 1px;
  border-bottom: solid #888 1px;
}

.logoImage {
  margin-top: 9px;
  max-height: 50px;
}

#menu-links {
  display: flex;
  padding-left: 1em;
  position: relative;
  top: 10px;
  font-size: 20px;
}

#menu-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffff40;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 8px;
}

#menu-links a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffff50;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 8px;
}
