#menu {
  background-color: #b6c7b5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1em;
  border-radius: 1em;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

#menu-links {
  display: flex;
  padding-left: 1em;
  position: relative;
  top: 15px;
  font-size: 20px;
}

#menu-links a {
  padding-right: 0.5em;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
