.messageColumn {
  background-color: lightgrey;
  margin: 10px;
  padding: 20px;
  border-radius: 1em;
  flex-basis: 33%;
  max-width: 33%;
}
.messageFeedWrapper {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 660px;
  overflow: auto;
}
.topMessageFeedWrapper {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  height: 268px;
  overflow: auto;
}
.messageFeedMessage {
  background-color: white;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  overflow-wrap: break-word;
  margin-right: 12px;
  margin-left: 4px;
}

.firstMessageColumn {
  flex-basis: 33%;
  min-width: 33%;
}

.postMessageColumn {
  background-color: lightgrey;
  margin: 10px;
  padding: 20px;
  height: 357px;
  border-radius: 1em;
}
textarea {
  width: 98%;
  position: relative;
  top: 5px;
}

.likesCount {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 1087px) {
  .messageColumn {
    background-color: lightgrey;
    margin: 10px;
    padding: 20px;
    border-radius: 1em;
    flex-basis: 100%;
    min-width: 95%;
  }
  .firstMessageColumn {
    flex-basis: 100%;
    min-width: 100%;
  }
}
