.mainContentWrapperHome {
  margin-left: 50px;
  margin-right: 50px;
  height: 450px;
  display: block;
}

.mainContentWrapperHome h2 {
  margin-left: -25px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.5vw;
}
.btn-danger {
  color: #fff;
  background-color: #e21b1b;
  border-color: #aa1717;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger {
  color: #fff;
  background-color: #aa1717;
  border-color: #e21b1b;
}
@media only screen and (max-width: 600px) {
  .mainContentWrapperHome {
    margin-left: 50px;
    margin-right: 50px;
    height: 618px;
    display: block;
  }
  .mainContentWrapperHome h2 {
    margin-left: -25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 8vw;
  }
}
