.mainContentWrapperHome {
  padding-left: 50px;
  padding-right: 50px;
  height: 550px;
  display: block;
  background-image: url(../images/quitting.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.mainContentWrapperHome h2 {
  padding-left: -25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 2.5vw;
}
.btn-danger {
  color: #fff;
  background-color: #e21b1b;
  border-color: #aa1717;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger {
  color: #fff;
  background-color: #aa1717;
  border-color: #e21b1b;
}
@media only screen and (max-width: 600px) {
  .mainContentWrapperHome {
    padding-left: 50px;
    padding-right: 50px;
    height: 705px;
    display: block;
    background-image: url(../images/quitting.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .mainContentWrapperHome h2 {
    padding-left: -25px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 8vw;
  }
}
