.mainContentWrapper {
  margin-left: 50px;
  margin-right: 50px;
  display: block;
}
.messagesWrapper {
  display: flex;
}

.mainContentWrapper h2 {
  margin-left: -25px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 4vw;
}
.mainContentWrapper .h3,
.mainContentWrapper h3 {
  font-size: 3vw;
}
.mainContentWrapper .h4,
.mainContentWrapper h4 {
  font-size: 2.5vw;
}

.messageFeedMessage h2 {
  margin-left: -38px;
  margin-top: 0px;
  margin-bottom: 13px;
  font-size: 2.5vw;
}

@media only screen and (max-width: 1087px) {
  .messagesWrapper {
    display: flex;
    flex-direction: column;
  }
  .mainContentWrapper h2 {
    font-size: 6vw;
  }
  .mainContentWrapper .h3,
  .mainContentWrapper h3 {
    font-size: 5vw;
  }
  .mainContentWrapper .h4,
  .mainContentWrapper h4 {
    font-size: 3.5vw;
  }
}
