.mainContentWrapperMessages {
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  background-image: url(../images/friends.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 965px;
}
.messagesWrapper {
  display: flex;
}

.mainContentWrapperMessages h2 {
  padding-left: -25px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 4vw;
}
.mainContentWrapperMessages .h3,
.mainContentWrapperMessages h3 {
  font-size: 3vw;
}
.mainContentWrapperMessages .h4,
.mainContentWrapperMessages h4 {
  font-size: 2.5vw;
}

.messageFeedMessage h2 {
  padding-left: -2px;
  padding-top: 0px;
  padding-bottom: 13px;
  font-size: 2.5vw;
}

@media only screen and (max-width: 1087px) {
  .messagesWrapper {
    display: flex;
    flex-direction: column;
  }
  .mainContentWrapperMessages h2 {
    font-size: 6vw;
  }
  .mainContentWrapperMessages .h3,
  .mainContentWrapperMessages h3 {
    font-size: 5vw;
  }
  .mainContentWrapperMessages .h4,
  .mainContentWrapperMessages h4 {
    font-size: 3.5vw;
  }
  .mainContentWrapperMessages {
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    background-image: url(../images/friends.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 2465px;
  }
}
