.mainContentWrapperProfile {
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  background-image: url(../images/win.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 1092px;
}

.mainContentWrapperProfile h2 {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  left: 10px;
  top: 5px;
  font-size: 4vw;
}
.profileWrapper {
  display: flex;
  padding-right: 3%;
}
.profileColumn {
  background-color: lightgrey;
  margin: 10px;
  padding: 20px;
  flex-basis: 50%;
  border-radius: 1em;
  min-width: 50%;
  border: 1px solid #a9a1a1;
  box-shadow: 2px 2px 2px #999;
}
.btn-danger {
  color: #fff;
  background-color: #e21b1b;
  border-color: #aa1717;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger {
  color: #fff;
  background-color: #aa1717;
  border-color: #e21b1b;
}
.mainContentWrapperProfile .h3,
.mainContentWrapperProfile h3 {
  font-size: 3vw;
}
.mainContentWrapperProfile .h4,
.mainContentWrapperProfile h4 {
  font-size: 2.5vw;
}
.mainContentWrapperProfile button {
  font-size: 1.5vw;
}

@media only screen and (max-width: 780px) {
  .profileWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
  .mainContentWrapperProfile h2 {
    font-size: 6vw;
  }
  .mainContentWrapperProfile .h3,
  .mainContentWrapperProfile h3 {
    font-size: 5vw;
  }
  .mainContentWrapperProfile .h4,
  .mainContentWrapperProfile h4 {
    font-size: 3.5vw;
  }
  .mainContentWrapperProfile {
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    background-image: url(../images/win.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 1160px;
  }
  .mainContentWrapperProfile button {
    font-size: 2.5vw;
  }
}
