.mainContentWrapperRegister {
  margin-left: 50px;
  margin-right: 50px;
  height: 400px;
  display: block;
}

.mainContentWrapperRegister h2 {
  margin-left: -25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn-danger {
  color: #fff;
  background-color: #e21b1b;
  border-color: #aa1717;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger {
  color: #fff;
  background-color: #aa1717;
  border-color: #e21b1b;
}
