.mainContentWrapperRegister {
  padding-left: 50px;
  padding-right: 50px;
  height: 490px;
  display: block;
  background-image: url(../images/quitting.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.mainContentWrapperRegister h2 {
  margin-left: -25px;
  padding-top: 25px;
  margin-bottom: 25px;
  font-size: 2.5vw;
}

.btn-danger {
  color: #fff;
  background-color: #e21b1b;
  border-color: #aa1717;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger {
  color: #fff;
  background-color: #aa1717;
  border-color: #e21b1b;
}
@media only screen and (max-width: 600px) {
  .mainContentWrapperRegister {
    padding-left: 50px;
    padding-right: 50px;
    height: 540px;
    display: block;
  }
  .mainContentWrapperRegister h2 {
    margin-left: -25px;
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 8vw;
  }
}
